{{ docType() }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twig Fixture</title>
    <meta name="description" content="Twig Fixture for tests">
</head>
<body>
<div class="twig-fixture">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
</body>
</html>
